html {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
@font-face {
	font-family: outfit;
	src: url(../fonts/Outfit/Outfit-VariableFont_wght.ttf);
}
body {
	padding: 0;
	margin: 0;
	font-family: outfit;
	background: hsl(212, 45%, 89%);
}
